.List {
    width: 100%;
    background-color: #999;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}
.List-item {
    width: calc(33.3333% - 20px);
    height: 150px;
    background-color: white;
}